body {
  background-color: #141414;
  padding: 3em;
}

.search-container {
  position: relative;
  width: 300px; /* Adjust width as needed */
}

.search-input {
  width: 100%;
  padding: 10px;
  background: red;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Inner border color */
  border-radius: 5px;
  color: white;
  font-size: 16px;
  outline: none;
 
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-container::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: #141414;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Outer border color */
  border-right: 1px solid rgba(255, 255, 255, 0.2); /* Outer border color */
  pointer-events: none;
}
