
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik-Bold'; /* The name of the custom font */
  src: url('./assets/fonts/Aeonik-Bold.otf') format('opentype'); /* Path to your .otf file */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Light'; /* The name of the custom font */
  src: url('./assets/fonts/Aeonik-Light.otf') format('opentype'); /* Path to your .otf file */
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Regular'; /* The name of the custom font */
  src: url('./assets/fonts/Aeonik-Regular.otf') format('opentype'); /* Path to your .otf file */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Aeonik-Regular', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.border-style-decoration {
  position: relative;
}


.border-style-decoration::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  background-color: #141414;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Outer border color */
  border-right: 1px solid rgba(255, 255, 255, 0.2); /* Outer border color */
  pointer-events: none;
}

.border-style-decoration::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  background-color: #141414;
  border-top: 1px solid rgba(255, 255, 255, 0.2); /* Outer border color */
  border-left: 1px solid rgba(255, 255, 255, 0.2); /* Outer border color */
  pointer-events: none;
}
